@font-face {
    font-family: 'Brandon Grotesque';
    src: local('Brandon Grotesque Medium'), local('Brandon-Grotesque-Medium'),
        url('BrandonGrotesque-Medium.woff2') format('woff2'),
        url('BrandonGrotesque-Medium.woff') format('woff'),
        url('BrandonGrotesque-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }